@model IEnumerable<Appointment>

@{
	
}
<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />


<div class="container-fluid  justify-content-between  bg-dark m-0 w-100">
	<div class=" d-inline-flex">
		<div class=" col text-m mt-5">
			<div class="main-container">
				<div class="ps-2">
					<label type="text" class="sections bg-dark">Личная информация:</label>
				</div>
				<div class="form-container bg-dark">
					<div class="mb-3">
						<label for="text" class="text24 form-label">Имя:</label>
						<label type="text" class="text21 form-control bg-dark" id="email" aria-describedby="emailHelp">@ViewBag.Name</label>
					</div>
				</div>
				<div class="form-container bg-dark">
					<div class="mb-3">
						<label for="text" class="text24 form-label">Email:</label>
						<label type="text" class="text21 form-control bg-dark">@ViewBag.Email</label>
					</div>
				</div>
				<div class="form-container bg-dark">
					<div class="mb-3">
						<label for="text" class="text24 form-label">Телефон:</label>
						<label type="text" class="text21 form-control bg-dark">@ViewBag.PhoneNumber</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-flex flex-column align-items-center w-100">
	<button type="button" class="btn btn-outline-dark text-light button-color w-50 mb-4" data-bs-toggle="modal" data-bs-target="#editInfoModal">Изменить личную информацию</button>
	<button type="button" class="btn btn-outline-dark text-light button-color w-50 mb-4" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Изменить пароль</button>
	<form asp-action="Logout" asp-controller="Login" method="post" class="form-inline w-100 d-flex justify-content-center">
		<button type="submit" class="btn btn-outline-danger border-0 text-light button-color w-50">Выйти из аккаунта</button>
	</form>
</div>
<div class="container-fluid  justify-content-between  bg-dark m-0 w-100 mb-5">
	<div class=" d-inline-flex">
		<div class=" col text-m mt-5">
			<div class="main-container">

				<div class="ps-2">
					<label type="text" class="sections bg-dark">Мои заказы</label>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="table-responsive mb-5">
	<table class="table table-striped table-bordered tableColor">
		<thead class="thead-dark">
			<tr>
				<th>Дата и время</th>
				<th>Мастер</th>
				<th>Услуга</th>
				<th>Цена</th>
				<th>Статус</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody id="appointmentTableBody">
			@Html.Partial("AppointmentRows", Model.Take(10))
		</tbody>
	</table>
</div>

<div class="d-flex justify-content-center">
	<button id="loadMoreButton" class="button-color mb-5 w-25 text-white">Загрузить еще</button>
</div>

<div class="modal fade" id="editInfoModal" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editInfoModalLabel">Редактировать личную информацию</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="editInfoForm" method="post" action="/Account/EditInfo">
					<div class="mb-3">
						<label for="name" class="form-label">Имя</label>
						<input type="text" class="form-control" id="nameInputLK" name="Name" value="@ViewBag.Name" required>
						<div class="invalid-feedback" id="nameInputError">Имя не может быть пустым.</div>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input type="email" class="form-control" id="email" name="Email" value="@ViewBag.Email" required>
					</div>
					<div class="mb-3">
						<label for="phone" class="form-label">Телефон</label>
						<input type="tel" class="form-control" id="phoneInputLK" name="Phone" value="@ViewBag.PhoneNumber" required>
						<div id="phoneInputError" class="text-danger" style="display: none;">Поле "телефон" не может быть пустым </div>

						<div id="phoneCorrectlytError" class="text-danger" style="display: none;">Некоректно введен телефон</div>

					</div>
					<button type="submit" class="btn btn-primary ">Сохранить</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changePasswordModalLabel">Изменить пароль</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="changePasswordForm" method="post" action="/Account/ChangePassword">
					<div class="mb-3">
						<label for="newPassword" class="form-label">Новый пароль</label>
						<input type="password" class="form-control" id="newPassword" name="NewPassword" required>
					</div>
					<div class="mb-3">
						<label for="confirmPassword" class="form-label">Подтвердите новый пароль</label>
						<input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
					</div>
					<div class="alert alert-danger d-none" id="passwordError">Пароли не совпадают.</div>
					<button type="submit" class="btn btn-primary">Сохранить</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
	let skip = 10;
	document.getElementById('loadMoreButton').addEventListener('click', function () {
		$.ajax({
			url: '@Url.Action("LoadMoreAppointments", "Account")',
			type: 'GET',
			data: { skip: skip },
			success: function (data) {
				if (data.trim() !== '') {
					$('#appointmentTableBody').append(data);
					skip += 10;
				} else {
					$('#loadMoreButton').hide(); // Скрыть кнопку, если больше нет записей
				}
			}
		});
	});
	document.getElementById("changePasswordForm").addEventListener("submit", function (event) {
		var newPassword = document.getElementById("newPassword").value;
		var confirmPassword = document.getElementById("confirmPassword").value;
		if (newPassword !== confirmPassword) {
			event.preventDefault();
			document.getElementById("passwordError").classList.remove("d-none");
		}
	});
	$(document).ready(function () {
		$('#nameInput').on('input', function () {
			var nameInputLK = $(this).val().trim();
			if (nameInputLK !== '') {
				$('#nameInputError').hide();
				$(this).removeClass('is-invalid');
			} else {
				$('#nameInputError').show();
				$(this).addClass('is-invalid');
			}
		});
		$('#phoneInputLK').on('input', function () {
			var value = this.value.replace(/\D/g, ''); // Удаление всех символов, кроме цифр
			if (value.length > 11) { // Ограничение на количество цифр
				value = value.slice(0, 11);
			}
			this.value = '+7 ' + value.slice(1); // Добавление префикса +7 и введенных цифр
			if (phoneInputLK !== '' || phoneInput.length == 12) { // Если поле не пустое, скрываем сообщение об ошибке
				$('#phoneInputError').hide();
			}
		});

		$('#editInfoForm').on('submit', function (event) {
			var isValid = true;

			// Validate Name
			var nameInputLK = $('#nameInputLK').val().trim();
			if (nameInputLK === '') {
				$('#nameInputError').show();
				$('#nameInputLK').addClass('is-invalid');
				isValid = false;
			} else {
				$('#nameInputError').hide();
				$('#nameInputLK').removeClass('is-invalid');
			}

			// Validate Phone
			var phoneInputLK = $('#phoneInputLK').val().replaceAll(' ', '');

			if (phoneInputLK === '') { // Проверяем, не пустое ли поле
				$('#phoneInputError').show(); // Показываем сообщение об ошибке
				 isValid = false; // Останавливаем выполнение функции, если поле пустое
			} else {
				$('#phoneInputError').hide(); // Скрываем сообщение об ошибке, если поле заполнено
			}
			if (phoneInputLK.length != 12) {
				$('#phoneCorrectlytError').show(); // Показываем сообщение об ошибке
				console.log(phoneInputLK+"false");
				console.log(phoneInputLK.length);

				isValid = false;
				

			} else {
				$('#phoneCorrectlytError').hide(); // Скрываем сообщение об ошибке, если поле заполнено
			}
			if (!isValid) {
				event.preventDefault();
			}
		});
	});
</script>